extends admin_layout

block content
  
  .row(style={padding :'30px 0px'})
    .col-lg-1
    .col-lg-2.col-sm-6
      .circle-tile
        a(href='#')
          .circle-tile-heading.dark-blue
            i.fa.fa-users.fa-fw.fa-3x
        .circle-tile-content.dark-blue
          .circle-tile-description.text-faded
            | Users
          .circle-tile-number.text-faded
            | 265
            span#sparklineA
          a.circle-tile-footer(href='#')
            | More Info 
            i.fa.fa-chevron-circle-right
    .col-lg-2.col-sm-6
      .circle-tile
        a(href='#')
          .circle-tile-heading.green
            i.fa.fa-money.fa-fw.fa-3x
        .circle-tile-content.green
          .circle-tile-description.text-faded
            | Revenue
          .circle-tile-number.text-faded
            | $32,384
          a.circle-tile-footer(href='#')
            | More Info 
            i.fa.fa-chevron-circle-right
    .col-lg-2.col-sm-6
      .circle-tile
        a(href='#')
          .circle-tile-heading.orange
            i.fa.fa-bell.fa-fw.fa-3x
        .circle-tile-content.orange
          .circle-tile-description.text-faded
            | Alerts
          .circle-tile-number.text-faded
            | 9 New
          a.circle-tile-footer(href='#')
            | More Info 
            i.fa.fa-chevron-circle-right
    .col-lg-2.col-sm-6
      .circle-tile
        a(href='#')
          .circle-tile-heading.blue
            i.fa.fa-tasks.fa-fw.fa-3x
        .circle-tile-content.blue
          .circle-tile-description.text-faded
            | Tasks
          .circle-tile-number.text-faded
            | 10
            span#sparklineB
          a.circle-tile-footer(href='#')
            | More Info 
            i.fa.fa-chevron-circle-right
    .col-lg-2.col-sm-6
      .circle-tile
        a(href='#')
          .circle-tile-heading.red
            i.fa.fa-shopping-cart.fa-fw.fa-3x
        .circle-tile-content.red
          .circle-tile-description.text-faded
            | Orders
          .circle-tile-number.text-faded
            | 24
            span#sparklineC
          a.circle-tile-footer(href='#')
            | More Info 
            i.fa.fa-chevron-circle-right
      .col-lg-1
  .row(style={padding :'30px 100px'})
    label 최근 구매자
    hr(style={border:'1px solid black',margin:'0px'})
    .col-sm-2.text-center 
      label 번호
    .col-sm-2.text-center 
      label 구매자 아이디
    .col-sm-6.text-center 
      label 구매자 이름
    .col-sm-2.text-center 
      label 결제 금액
    hr(style={border:'1px solid #b7b7b7',margin:'0px'})
    each list, i in rows
      .row.orderlistRows(style={padding:'20px 0px'}) 
        .col-sm-2.text-center 
          label=i+1
        .col-sm-2.text-center 
          label=date[i]
        .col-sm-6
          label=list.productHead
          -if(list.totalCount>1)
            label 외
            label=list.totalCount-1
            label 건
        .col-sm-2.text-center 
          label=list.totalPrice
          label 원
      
  .row(style={padding:'0px 10px',margin:'0px'}) 
    .col-sm-6(style={padding:'0px 30px'})
      br
      br
      br
      .row(style={background:'white',border:'1px solid #c3c5c9',padding:'0px 15px'})
        .row.borderbottom(style={padding:'0px 17px',background:'#f4f5f7'})
          label 판매 진행 현황
        .row(style={padding:'20px 30px'})  
          .row(style={padding:'10px 100px'})
            .col-sm-4
              div.circle(style={background : '#10ea6e'})
                sapn.glyphicon.glyphicon-heart
                br
                label 입금확인중
                br
                label 17건
            .col-sm-4
              div.circle(style={background : '#d10478'})
                sapn.glyphicon.glyphicon-heart
                br
                label 주문접수
                br
                lasbel 2건
            .col-sm-4
              div.circle(style={background : '#058c8c'})
                sapn.glyphicon.glyphicon-heart
                br
                label 발주확인
                br
                lasbel 2건
          .row(style={padding:'10px 100px'})
            .col-sm-4
              div.circle(style={background : '#9123ba'})
                sapn.glyphicon.glyphicon-heart
                br
                label 출고처리
                br
                lasbel 2건
            .col-sm-4
              div.circle(style={background : '#b59809'})
                sapn.glyphicon.glyphicon-heart
                br
                label 출고지연
                br
                lasbel 2건
            .col-sm-4
              div.circle(style={background : '#1a23a5'})
                sapn.glyphicon.glyphicon-heart
                br
                label 출고완료
                br
                lasbel 2건
      br
      .row(style={background:'white',border:'1px solid #c3c5c9',padding:'0px 15px'})
        .row.borderbottom(style={padding:'0px 17px',background:'#f4f5f7'})
          label B'Store 공지사항
        .row(style={padding:'20px 30px'})
    .col-sm-6(style={padding:'0px 30px'})
      br
      br
      br
      .row(style={background:'white',border:'1px solid #c3c5c9',padding:'0px 15px'})
        .row.borderbottom(style={padding:'0px 17px',background:'#f4f5f7'})
          label 판매실적 & 판매현황
        .row(style={padding:'20px 30px'})
          ul
            li
              br 
              label TODAY
              br
              hr
              label 0원
              br
            li 
              br 
              label MONTH
              br
              hr
              label 0원
              br
            li 
              br 
              label 판매상품
              br
              hr
              label 0원
              br
            li 
              br 
              label 등록된상품
              br
              hr
              label 0원
              br
      br
      br
      .row(style={background:'white',border:'1px solid #c3c5c9',padding:'0px 15px'})
        .row.borderbottom(style={padding:'0px 17px',background:'#f4f5f7'})
          label 고객 문의 현황
        .row(style={padding:'20px 30px'})  
    
