extends layout

block content
  br
  br
  br
  br
  .row
    .col-sm-4
      div
    .col-sm-4.text-center
      .col-sm-2
      .col-sm-8
        div(style={border: '3px double #f1f1f1',padding:'12px'})
          label CART LIST
      .col-sm-2
    .col-sm-4
  br
  br
  br
  hr(style={border:'2px solid black'})
  .row
    .col-sm-1.text-center 
      label 번호
    .col-sm-3.text-center 
      label 사진
    .col-sm-4.text-center 
      label 제품명
    .col-sm-1.text-center 
      label 수량
    .col-sm-1.text-center 
      label 가격
    .col-sm-1.text-center 
      label 배송비
    .col-sm-1.text-center 
      label 취소
  hr(style={border:'2px solid gray'})
  each list, i in rows
    #listrows.row
      .col-sm-1.text-center 
        label=i
      .col-sm-3
        .row.text-center 
          img(src="/images/"+list.mainimage,style={width:'40%',height:'100px'})
        br
        .row
        span.glyphicon.glyphicon-play 
        span.label.label-warning
          옵션
        label
          색상:
        label=list.color
        label ,사이즈
        label=list.size
      .col-sm-4.text-center 
        label=list.productname
      .col-sm-1.text-center 
        label=list.productcount
      .col-sm-1.text-center 
        label=list.price
        label 원
      .col-sm-1.text-center 
        label [기본배송]
      .col-sm-1.text-center 
        button(type="submit",value=list.cartno).btn.btn-default 삭제
    br
  .row
    .col-sm-8
    .col-sm-4
      label 총 구매 금액:
      label=totalPrice
      label + 배송료 2,500원 = 
      label 258400원
  hr(style={border:'2px solid gray'})
  br
  br    
  .row.text-center
    label B'store 매장은 배송료 2500원을 청구합니다.    
  br
  br
  .row.text-center
    button(type="submit",style={width:'15%',height:'50px'}).btn.btn-default 주문하기
    button(type="submit",style={width:'15%',height:'50px'}).btn.btn-default 계속쇼핑
    button(type="submit",style={width:'15%',height:'50px'}).btn.btn-default 비우기
  br
  br
  br
    
script.
   $(document).ready(function(){
          console.log("ssssssss");
       });
    
