extends layout
block content 
  .row(style={padding:'30px'}).noticeReadPage
    br
    br
    br
    br
    .row
      .col-sm-4
        div
      .col-sm-4.text-center
        .col-sm-2
        .col-sm-8
          div(style={border: '3px double #f1f1f1',padding:'12px'})
            label 공지사항
        .col-sm-2
      .col-sm-4
    br
    br
    hr(style={margin:'0px',border:'1px solid black'})
    .row.text-center
      label.noticeReadTitle [공지]   
      label.noticeReadTitle=rows[0].title
    hr(style={margin:'0px',border:'1px solid #f1f1f1'})
    .row
      label.noticeTextColor DATE :
      label=rows[0].noticedate
      br
      label.noticeTextColor NAME :
      label=rows[0].writer
    hr(style={margin:'0px',border:'1px solid #f1f1f1'})
    br
    .row 
      textarea(id="content",name="content", rows="20",cols="180",style={width:'100%'} readonly)
        =noticeContent
    br
    hr(style={margin:'0px',border:'1px solid #f1f1f1'})
    br
      
    .row(id='replyBody',style={margin:'0px'})
      label.noticeTextColor Reply
      br
      br
      - if(rows[0].reply_content)
        each replyList, i in rows
          .row.replyContent
            .col-sm-3
              label=replyList.writername
            .col-sm-7
              label |
              label=replyList.reply_content
            .col-sm-2 
              label 2017/05/20
    .row
      label.noticeTextColor Reply Register
      br
      textarea(id="reply_content",name="reply_content", rows="4",cols="100",style={width:'100%'})
      br   
      button(id="replyBtn",style={width:'15%',margin:'0px',height:'40px',padding:'0px'}).btn.btn-default 등록
      - if (typeof locals.session.username == 'undefined')
        input(type='hidden',id='user_num', value='null')
        input(type="hidden",id='displayname', value='null')
      - else 
        input(type='hidden',id='user_num', value='#{session.user_num}')
        input(type="hidden",id='displayname', value='#{session.displayname}') 
    
     input(type="hidden",id="noticeno",value=rows[0].noticeno)
  

      
    script.
      $(document).ready(function(){
          $('#replyBtn').click(function(event){
          if($('#user_num').val()=='null'){
            alert('로그인 필요');
          }
         else{
              $.ajax({
                 url:"/reply/register", 
                 type:"post",
                 data:{
                    noticeno : $('#noticeno').val(),
                    reply_content : $('#reply_content').val(),
                    writername :  $('#displayname').val(),
                    user_num : $('#user_num').val()
                 },
                dataType:"text",
                success : function(result) {
                  var obj = eval("("+result+")");
                  
                  $('#replyBody').append('<div class="row replyContent"><div class="col-sm-3"><label>'+obj.writername+'</label></div><div class="col-sm-7"><label>|</label><label>'+obj.reply_content+'</label></div><div class="col-sm-2"><label>2017/05/20</label></div></div>');
                }});
          }
          });
      
      });
          
        
