extends layout
  
block content
  .row(style={padding:'30px'})  
    br
    h1.text-center ORDER LIST
    label 주문할 상품
    hr(style={border:'2px solid black'})
    .row
      .col-sm-1.text-center 
        label 번호
      .col-sm-7.text-center 
        label 구입 상품명
      .col-sm-1.text-center 
        label 수량
      .col-sm-2.text-center 
        label 가격
      .col-sm-1.text-center 
        label 배송비
    hr(style={border:'2px solid #b7b7b7'})
    each list, i in rows
      #listrows.row
        .col-sm-1.text-center 
          label=i
        .col-sm-3
          .row.text-center 
            img(src="/images/"+list.mainimage,style={width:'20%',height:'70px'})
          br
          span.glyphicon.glyphicon-play 
          span.label.label-warning
            옵션
          label
            색상:
          label=list.color
          label ,사이즈
          label=list.size
        .col-sm-4 
          label=list.productname
        .col-sm-1.text-center 
          label=list.productcount
        .col-sm-2.text-center 
          label=list.price
          label 원
        .col-sm-1.text-center 
          label [기본배송]
          input(type="hidden",value=list.pno,name="pnoArray")
      br  
    .row
      .col-sm-8
      .col-sm-4
        label 총 구매 금액:
        label#sumPrice
          =totalPrice[0].price
        label 원 + 배송료 2,500원 = 
        label#totalPrice(style={color:'red'})
          
    hr(style={border:'2px solid #b7b7b7'})
    .row(style={background:'#ededed'})
      br
      .col-sm-3
      .col-sm-6
        label #{session.displayname}
        label 님은 
        label(style={color:'red'}) [kun]
        label 회원입니다.
      .col-sm-3
      br
    .row(style={padding:'12px'})
      .row
        label 주문자 정보
      .row
        table.table.table-bordered
          #trhead.tr
            th 이름
            td(colspan=3)
              label#shopperName #{session.displayname}
          tr
            th E-mail
            td
              label#shopperEmail qjadud22@naver.com
            th 연락처
            td
              label#shopperPhoneNumber 010-7670-5549
    .row(style={padding:'12px'})
      .row
        .col-sm-1(style={padding:'0px'})
          label 배송지 정보
        .col-sm-8
        .col-sm-3
          input(type="checkbox" id="contentCheckbox",style={width:'10%'})
          label 주문자 정보 입력
          
      .row
        table.table.table-bordered
          #trhead.tr
            th 이름
            td 
              input(type="text",id="orderName",style={width:'50%'})
            th 이메일
            td 
              input(type="text",id="orderEmail1",style={width:'40%'})
              label @
              input(type="text",id="orderEmail2",style={width:'40%'})
            th 연락처
            td
              input(type="text",id="orderPhone1",style={width:'10%'})
              label -
              input(type="text",id="orderPhone2",style={width:'10%'})
              label -
              input(type="text",id="orderPhone3",style={width:'10%'})
          tr
            th 주소
            td(colspan=5)
              ul
                li
                  input(type="radio", name="address",style={width:'1%'})
                  label 자택
                  input(type="radio", name="address",style={width:'1%'})
                  label 회사
                  input(type="radio", name="address",style={width:'1%'})
                  label 최근배송지
                li
                  input#sample6_postcode(type='text', placeholder='우편번호',style={width:'10%'})
                  input#postBtn(type='button', value='우편번호 검색',style={width:'10%'})
                li 
                  input#sample6_address(type='text', placeholder='주소',style={width:'40%'})
                  label [기본주소]
                  br
                  input#sample6_address2(type='text', placeholder='상세주소',style={width:'40%'})
                  label [상세주소] 
                  br
          #trbottomtr 
            th 주문메세지
            td(colspan=5) 
              textarea#orderMessage(rows='4',cols='100')
      .row(style={padding:'12px'})
        .row 
          label 쿠폰 사용
        .cuponBox.row
          .cuponinput.col-sm-2(style={})
            input(type="text",style={width:'60%'})
            button(type="submit") 쿠폰선택
          .col-sm-10
            label 보유하신 쿠폰을 적용하시면 할인 또는 추가적립 혜택을 받으실 수 있습니다.
      br
      .row.text-center
        button(type="submit",id='buyBtn',style={width:'15%',height:'50px'}).btn.btn-default 주문하기
        button(type="submit",style={width:'15%',height:'50px'}).btn.btn-default 주문취소
        input(type="hidden",id='user_num' value="#{session.user_num}")
        script.
         $(document).ready(function(){
            var sumPrice = parseInt($('#sumPrice').text(),10) + 2500; //상품 총 가격  + 배송비
            $('#totalPrice').text(sumPrice+' 원');
              
              
            $('#contentCheckbox').change(function(event){
                var chk = $(this).is(":checked");
                if(chk){
                  var name = $('#shopperName').text();
                  var email = $('#shopperEmail').text().split('@');
                  var phonenumber = $('#shopperPhoneNumber').text().split('-');
                  $('#orderName').val(name);
                  $('#orderEmail1').val(email[0]);
                  $('#orderEmail2').val(email[1]);
                  $('#orderPhone1').val(phonenumber[0]);
                  $('#orderPhone2').val(phonenumber[1]);
                  $('#orderPhone3').val(phonenumber[2]);
                }
                else{
                  $('#orderName').val('');
                  $('#orderEmail1').val('');
                  $('#orderEmail2').val('');
                  $('#orderPhone1').val('');
                  $('#orderPhone2').val('');
                  $('#orderPhone3').val('');
                }
            });  
              
            $('#buyBtn').click(function(event){
                var  successCheck = false;
                var date = new Date();
                var year = date.getYear()+1900;
                var month = date.getMonth()+1;
                var day = date.getDate();
                var hour = date.getHours();
                var minute = date.getMinutes();
                var sec = date.getSeconds();
                var currentDate = year+"."+month+"."+day+"."+hour+"."+minute+"."+sec;
                var pnoArray = $("input[name=pnoArray]");
                var pno ='';
                
                //태그값 받기
                var user_num = $('#user_num').val();
                var orderName = $('#orderName').val();
                var orderEmail = $('#orderEmail1').val() +'@'+ $('#orderEmail2').val();
                var orderPhone = $('#orderPhone1').val() +'-'+ $('#orderPhone2').val()+'-'+ $('#orderPhone3').val();
                var orderAddress = $('#sample6_postcode').val()+','+$('#sample6_address').val()+','+$('#sample6_address2').val();
                var orderMessage =$('#orderMessage').val();
                
                console.log(orderPhone);
                //pno 한줄로 생성
                for(var i=0; i<pnoArray.length;i++){
                  pno+=pnoArray.eq(i).val();
                  if(i!=pnoArray.length-1){
                    pno+=',';
                  }
                }
                //orderDetail 등록
                $.ajax({
                   url:"/user/orderProductAdd", 
                   type:"post",
                   data:{
                    orderDetailno : currentDate+"."+user_num,
                    user_num : user_num,
                    pno : pno
                   },
                   dataType:"text",
                  success : function(result) {
                        if(result){
                        
                            $.ajax({
                               url:"/user/order", 
                               type:"post",
                               data:{
                                 user_num : user_num,
                                 orderName : orderName,
                                 orderPhone : orderPhone,
                                 orderEmail : orderEmail,
                                 orderAddress : orderAddress,
                                 orderDetailno : currentDate+"."+user_num,
                                 orderMessage : orderMessage,
                                 orderDetailno : currentDate+"."+$('#user_num').val(),
                               },
                               dataType:"text",
                              success : function(result) {
                                  if(result){
                                    var link = '/user/orderComplete';
                                    $(location).attr('href', link);
                                  }
                            }});
                        }
                }});
                
                });
                
                  $('#postBtn').click(function(event){
                    sample6_execDaumPostcode();
                  
                  })
                    //다음 우편번호 API
                   function sample6_execDaumPostcode() {
                   new daum.Postcode({
                   oncomplete: function(data) {
                   // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                   // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                   // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                   var fullAddr = ''; // 최종 주소 변수
                   var extraAddr = ''; // 조합형 주소 변수
                   // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                   if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                   fullAddr = data.roadAddress;
                   } else { // 사용자가 지번 주소를 선택했을 경우(J)
                   fullAddr = data.jibunAddress;
                   }
                   // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                   if(data.userSelectedType === 'R'){
                   //법정동명이 있을 경우 추가한다.
                   if(data.bname !== ''){
                   extraAddr += data.bname;
                   }
                   // 건물명이 있을 경우 추가한다.
                   if(data.buildingName !== ''){
                   extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                   }
                   // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                   fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                   }
                   // 우편번호와 주소 정보를 해당 필드에 넣는다.
                   document.getElementById('sample6_postcode').value = data.zonecode; //5자리 새우편번호 사용
                   document.getElementById('sample6_address').value = fullAddr;
                   // 커서를 상세주소 필드로 이동한다.
                   document.getElementById('sample6_address2').focus();
                   }
                   }).open();
                   }
                   
              });  
            
              
            
      
          
          
          
              
              
                
